
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>订单详情</title>
<link rel="shortcut icon" href="http://loveme.xifenhezi.com/favicon.ico"/>
<link href="__ROOT__/css/weui.min.css" rel="stylesheet"/>
<style>
.order-price-detail{margin:0;padding:1rem auto;background-color:#1AAD19;}
.order-price-detail p,h1{padding:0.4rem 0;color:#ffffff;text-align:center;}
.order-price-title{}
.order-price{font-size:2rem;}
.order-price-number{}
.order-footer{padding:1rem;}
</style>
</head>
<body>
        
        <div class="weui-cells__title">订单详情</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>订单内容</p>
                </div>
                <div class="weui-cell__ft">{$room.outid} {$room.title}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>入住日期</p>
                </div>
                <div class="weui-cell__ft">{$indate}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>离店日期</p>
                </div>
                <div class="weui-cell__ft">{$outdate}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>订单金额</p>
                </div>
                <div class="weui-cell__ft">{$room.price}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>支付方式</p>
                </div>
                <div class="weui-cell__ft">微信支付</div>
            </div>
        </div>

        <form id="book-form" method="post" action="__ROOT__/book">
            <input type="hidden" name="indate" value="{$indate}" />
            <input type="hidden" name="outdate" value="{$outdate}" />
            <input type="hidden" name="room_id" value="{$room.outid}" />
            <div class="weui-cells__title">联系人</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">电话</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" name="phone" pattern="[0-9]*" placeholder="请输入联系人电话">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="contact" placeholder="请输入联系人称呼">
                    </div>
                </div>
            </div>

            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" id="book-btn" type="button">提交订单</button>
            </div>
        </form>
</body>
<!--
  {php}//var_dump($room);{/php}
-->
<script src="__ROOT__/js/common.js"></script>
<script src="__ROOT__/js/jquery.min.js"></script>
<script src="__ROOT__/js/weui.min.js"></script>
<script>
    $(function(){
        $('body').on('click', '#book-btn', function(){
            var $form = $('#book-form');
            var $phone_input = $form.find('input[name=phone]');
            var $contact_input = $form.find('input[name=contact]');
            if(!$phone_input.val() || $phone_input.val().isEmpty()){
                weui.toast('联系人电话不能为空');
                return;
            }
            if(!$phone_input.val().isMobile()){
                weui.toast('电话号码格式不正确');
                return;
            }
            if(!$contact_input.val() || $contact_input.val().isEmpty()){
                weui.toast('联系人姓名不能为空');
                return;
            }
            $form.submit();
        })
    });
</script>
</html>

